<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:allowBackup="true"
        android:label="SEAM Player"
        android:icon="@drawable/seam_logo"
        android:roundIcon="@drawable/seam_logo"
        android:theme="@style/Theme.SEAMPlayer"
        android:supportsRtl="true">
        <activity android:name=".SeamHomeV2Activity" android:exported="true" android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SEAMHomeActivity" android:exported="false" />
        <activity android:name=".NowPlayingActivity" android:exported="false" android:screenOrientation="unspecified" />
        <activity android:name=".MainActivity" android:exported="false" />
        <service android:name=".playback.PlaybackService" android:exported="true" android:foregroundServiceType="mediaPlayback">
            <intent-filter><action android:name="androidx.media3.session.MediaSessionService" /></intent-filter>
        </service>
    </application>
</manifest>
